* {
	box-sizing: border-box;
}

:root {
	--rows: 9;
	--cols: 9;
	--revealed-tile-background-color: hsl(0, 0%, 45%);
	--revealed-font-size: 1.2rem;
}

body {
	margin: 10vh 0;
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: hsl(0, 0%, 25%);
}

.header {
	font-family: 'Orbitron', sans-serif;
	font-optical-sizing: auto;
	font-weight: 900;
	font-style: normal;
	color: white;
}

.difficulty-container {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 400px;
	margin-top: 5vh;
	color: white;
}

.difficulty {
	font-family: 'Gruppo', sans-serif;
	font-optical-sizing: auto;
	color: white;
	font-size: 1.4rem;
}

.difficulty:hover {
	color: hsl(239, 74%, 66%);
}

.board-container {
	position: relative;
	display: grid;
	max-width: 950px;
	margin-top: 2vh;
	margin-bottom: 5vh;
	grid-template-areas:
		'game-info'
		'tiles';
	grid-template-columns: 1fr;
	grid-template-rows: 100px 400px;
	border: 5px solid black;
	background-color: hsl(0, 0%, 75%);
}

.game-state-information {
	position: relative;
	display: grid;
	align-items: center;
	text-align: center;
	grid-area: game-info;
	grid-template-areas: 'mines button timer';
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: repeat(3, 100px);
	border: 3px solid black;
}

.game-state-information > * {
	font-size: 2rem;
	color: red;
}

.mine-counter {
	grid-area: mines;
	border: 1px solid black;
	margin: 0.3rem;
	padding: 0.8rem;
}

.button-wrapper {
	position: relative;
	display: flex;
	grid-area: button;
	justify-content: center;
	align-items: center;
}

.win-lose-button {
	outline: none;
	background-color: transparent;
	padding: 0.8rem;
	font-size: 2rem;
	border: 1px solid black;
	color: yellow;
}

.timer {
	grid-area: timer;
	border: 1px solid black;
	padding: 0.8rem;
	margin-right: 0.3rem;
}

.board {
	position: relative;
	display: grid;
	grid-area: tiles;
	grid-template-columns: repeat(var(--cols), minmax(30px, 1fr));
	grid-template-rows: repeat(var(--rows), minmax(auto, 1fr));
	justify-content: center;
}

.tile {
	background-color: hsl(0, 0%, 75%);
	outline: none;
	border: 2px solid black;
}

.tile[data-status='flagged'][data-revealed='false'] {
	background-color: yellow;
}

.tile[data-status='empty'][data-revealed='true'] {
	background-color: var(--revealed-tile-background-color);
}

.tile[data-mine='true'][data-revealed='true'] {
	background-color: red;
}

.tile[data-revealed='false'] {
	background-color: transparent;
}

.tile[data-number='1'][data-revealed='true'] {
	background-color: var(--revealed-tile-background-color);
	font-size: var(--revealed-font-size);
	color: lightblue;
}
.tile[data-number='2'][data-revealed='true'] {
	background-color: var(--revealed-tile-background-color);
	font-size: var(--revealed-font-size);
	color: greenyellow;
}
.tile[data-number='3'][data-revealed='true'] {
	background-color: var(--revealed-tile-background-color);
	font-size: var(--revealed-font-size);
	color: red;
}
.tile[data-number='4'][data-revealed='true'] {
	background-color: var(--revealed-tile-background-color);
	font-size: var(--revealed-font-size);
	color: purple;
}

.tile[data-number='5'][data-revealed='true'] {
	background-color: var(--revealed-tile-background-color);
	font-size: var(--revealed-font-size);
	color: blue;
}
.tile[data-number='6'][data-revealed='true'] {
	background-color: var(--revealed-tile-background-color);
	font-size: var(--revealed-font-size);
	color: orange;
}
.tile[data-number='7'][data-revealed='true'] {
	background-color: var(--revealed-tile-background-color);
	font-size: var(--revealed-font-size);
	color: whitesmoke;
}
.tile[data-number='8'][data-revealed='true'] {
	background-color: var(--revealed-tile-background-color);
	font-size: var(--revealed-font-size);
	color: salmon;
}
